<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>C V Raman</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <!-- *********************************************************************************** -->
    <main id="main">
      <!-- section 1 -->
      <section class="hero">
        <figure id="img-div">
            <div class="img-wrapper">
              <img
                id="image"
                src="https://www.jagranimages.com/inext/1cvraman_t_21117.jpg"
                alt="Sir C V Raman during the Nobel Prize Ceremony in 1930."
              />
              <div class="reveal-details text-center">
                <span class="fa fa-chevron-up text-white"></span>
              </div>
              <figcaption id="img-caption">
                Sir C V Raman
              </figcaption>
            </div>
          </figure>
        <div class="container main-heading text-white text-center">
          <h1
            id="title"
            style="
              color: white;
              font-family: Verdana, Geneva, Tahoma, sans-serif;
            "
          >
            SIR CHANDRASEKHARA VENKATA RAMAN
          </h1>
          <p style="color: white">
            The Indian physicist known for his work in the field of light
            scattering
          </p>
        </div>
        <figure id="img-div">
          <div class="img-wrapper">
            <img
              id="image"
              src="https://images.edexlive.com/uploads/user/imagelibrary/2019/11/21/original/Nobel_ceremony_11930.jpg"
              alt="Sir C V Raman during the Nobel Prize Ceremony in 1930."
            />
            <div class="reveal-details text-center">
              <span class="fa fa-chevron-up text-white"></span>
            </div>
            <figcaption id="img-caption">
              Sir C V Raman, First from the left, during the Nobel Prize
              Ceremony in 1930.
            </figcaption>
          </div>
        </figure>
      </section>

      <!-- section 2 -->
      <section class="timeline pt-1" id="tribute-info">
        <div class="timeline-heading container text-center text-white">
          <h2 class="title" style="color: white">Sir C. V. Raman's life</h2>
        </div>

        <div class="roadmap container">
          <ul>
            <li>
              <strong>1888</strong> Born in Tiruchirappalli in the Madras
              Presidency of British India (now Tiruchirapalli, Tamil Nadu,
              India).
            </li>
            <li>
              <strong>1902</strong> Raman joined Presidency College in Madras
              (now Chennai) where his father had been transferred to teach
              mathematics and physics.
            </li>

            <li>
              <strong>1904</strong> He obtained a B.A. degree from the
              University of Madras, where he stood first and won the gold medals
              in physics and English.
            </li>
            <li>
              <strong>1906</strong> While still a graduate student, he published
              his first scientific paper on
              <i
                >"Unsymmetrical diffraction bands due to a rectangular
                aperture"</i
              >
              in the British journal <i>Philosophical Magazine</i>.
            </li>
            <li>
              <strong>1907</strong> He earned an M.A. degree from the same
              university with highest distinction. His second paper published in
              the same journal that year was on surface tension of liquids. It
              was alongside Lord Rayleigh's paper on the sensitivity of ear to
              sound, and from which Lord Rayleigh started to communicate with
              Raman, courteously addressing him as "Professor". He joined the
              Indian Finance Service in Calcutta as Assistant Accountant General
              at age 19. There he became acquainted with the Indian Association
              for the Cultivation of Science (IACS), the first research
              institute in India, which allowed him to carry out independent
              research and where he made his major contributions in acoustics
              and optics. Raman married Lokasundari Ammal, daughter of S.
              Krishnaswami Iyer who was the Superintendent of Sea Customs at
              Madras.
            </li>
            <li>
              <strong>1909</strong> The work inspired IACS to publish a journal,
              <i
                >Bulletin of Indian Association for the Cultivation of
                Science</i
              >, in which Raman was the major contributor.
            </li>
            <li>
              <strong>1917</strong> He was appointed
              <i>the first Palit Professor of Physics</i> by Ashutosh Mukherjee
              at the Rajabazar Science College under the University of Calcutta.
              On his first trip to Europe, seeing the Mediterranean Sea
              motivated him to identify the prevailing explanation for the
              <i>blue colour of the sea</i> at the time, namely the reflected
              Rayleigh-scattered light from the sky, as being incorrect.
            </li>
            <li>
              <strong>1926</strong> He founded the
              <i>Indian Journal of Physics</i>
            </li>
            <li>
              <strong>1928</strong> The <i>Raman effect</i> was discovered on 28
              February 1928. The day is celebrated annually by the Government of
              India as the <i>National Science Day</i>.
            </li>
            <li>
              <strong>1930</strong> Soon after he received the Nobel Prize, he
              was asked in an interview the possible consequences if he had
              discovered the Raman effect earlier, which he replied,<i
                >"Then I should have shared the Nobel Prize with Compton and I
                should not have liked that; I would rather receive the whole of
                it."</i
              >
            </li>

            <li>
              <strong>1932</strong> With Suri Bhagavantam, he determined the
              spin of photons in 1932, which further confirmed the
              <i>quantum nature of light.</i>
            </li>

            <li>
              <strong>1933</strong> He moved to Bangalore to become the first
              Indian director of the Indian Institute of Science. He founded the
              <i>Indian Academy of Sciences</i> the same year.
            </li>
            <li>
              <strong>1948</strong> He established the Raman Research Institute
              where he worked to his last days.
            </li>
            <li>
              <strong>1954</strong> The Government of India honoured him with
              the first <i>Bharat Ratna</i>, its highest civilian award.
            </li>
            <li>
              <strong>1957</strong> He was awarded the <i>Lenin Peace Prize</i>.
            </li>
            <li>
              <strong>1960</strong>His last interests in the 1960s were on
              biological properties such as the colours of flowers and the
              physiology of human vision.
            </li>
            <li>
              <strong>1970</strong>At the end of October, Raman had a cardiac
              arrest and collapsed in his laboratory. He was moved to the
              hospital where doctors diagnosed his condition and declared that
              he would not survive another four hours. He however survived a few
              days and requested to stay in the gardens of his institute
              surrounded by his followers. Two days before Raman died, he told
              one of his former students,<i>"Do not allow the journals of the
              Academy to die, for they are the sensitive indicators of the
              quality of science being done in the country and whether science
              is taking root in it or not."</i> He died from natural causes early
              the next morning on 21 November 1970 at the age of 82.
            </li>
          </ul>
        </div>
      </section>

      <!-- section 3 -->
      <section class="quote container">
        <blockquote
          cite="http://news.rediff.com/report/2009/sep/14/pm-pays-tribute-to-father-of-green-revolution-borlaug.htm"
        >
          <p>
            <em
              >"The country, the House [of Parliament], and everyone of us will
              mourn the death of Dr. C. V. Raman. He was the greatest scientist
              of modern India and one of the greatest intellects our country has
              produced in its long history. His mind was like the diamond, which
              he studied and explained. His life's work consisted in throwing
              light upon the nature of lights, and the world honoured him in
              many ways for the new knowledge which he won for science."</em
            >
          </p>
          <cite> <small>-- Indian Prime Minister Indira Gandhi </small></cite>
        </blockquote>
      </section>

      <!-- section 4 -->
      <section class="container">
        <h3 class="know-more">
          If you have time, you should read more about this incredible human
          being on his
          <a
            id="tribute-link"
            href="https://en.wikipedia.org/wiki/C._V._Raman"
            target="_blank"
            >Wikipedia entry</a
          >
        </h3>
      </section>
    </main>

    <!-- *********************************************************************************** -->
    <footer
      class="bg-dark"
      style="
        background: linear-gradient(
          180deg,
          rgba(52, 58, 64, 1) 0%,
          rgba(52, 58, 64, 1) 100%
        );
      "
    >
      <p
        class="container text-center text-white-50 my-2"
        style="color: aliceblue"
      >
        Made by SANJAYKUMAR S
      </p>
      <!-- Social Icons -->
      <div class="item">
        <ul class="icon-list">
          <li class="nav-item">
            <a
              href="https://github.com/Sanjaykumar-Sundaramoorthy"
              class="fa fa-github"
              target="_blank"
              style="color: aliceblue"
            ></a>
          </li>
          <li class="nav-item">
            <a
              href="https://www.linkedin.com/in/sanjaykumar-s-aa235824a"
              class="fa fa-linkedin"
              target="_blank"
              style="color: aliceblue"
            ></a>
          </li>
        </ul>
      </div>
    </footer>
  </body>
</html>
